[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rocrateR"]
	path = rocrateR
	url = https://github.com/researchobject/ro-crate-r
